[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
bs4 = "*"
wordcloud = "*"
transformers = "*"
requests = "*"
streamlit = "*"
matplotlib = "*"
altair = "*"
pandas = "*"
gensim = "*"

[dev-packages]

[requires]
python_version = "3.11"
